- provide(:title, 'All users')
%h1 All users
= form_tag("users/search", method: "GET", enforce_utf8: false) do
  = label_tag :name, "Name"
  = text_field_tag :name, '', placeholder: "Please enter name"
  = submit_tag  'Search'
= paginate @users
%ul.users
  = render @users
= paginate @users
