- provide(:title, 'All users')
%h1 All users
= form_with(url: search_users_path, method: :get, data: { remote: false }, skip_enforcing_utf8: true) do |f|
  = f.label :name
  = f.text_field :name, placeholder: "Please enter name"
  = f.submit 'Search', name: nil
= paginate @users
%ul.users
  = render @users
= paginate @users
