- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.name
    %section.stats
      = render 'shared/stats'
  .col-md-8
    = render 'users/follow_form' if logged_in?
    %h3 Micropost Search
    %div.micropost_search
      = render 'shared/search'
    %h3 Microposts (#{@microposts.count})
    - if @microposts.any?
      %ol.microposts
        - @microposts.each do |micropost|
          = render 'microposts/micropost', micropost: micropost
      = paginate @microposts
    - else
      %h3 no match for #{params[:content]}
