- provide(:title, "Search result for #{params[:name]}")
%h1 Search result for #{params[:name]}
= form_with(url: search_users_path, method: :get, data: { remote: false }, skip_enforcing_utf8: true) do |f|
  = f.label :name
  = f.text_field :name, placeholder: "Please enter name"
  = f.submit 'Search', name: nil
- if @users.present?
  = paginate @users
  %ul.users
    = render @users
  = paginate @users
- else
  %h3 no match for #{params[:name]}
