- provide(:title, "Search result for #{params[:name]}")
%h1 Search result for #{params[:name]}
= form_with(url: "users/search", method: :get, skip_enforcing_utf8: true) do
  = label_tag :name, "Name"
  = text_field_tag :name, '', placeholder: "Please enter name"
  = submit_tag  'Search'
- if @users.present?
  = paginate @users
  %ul.users
    = render @users
  = paginate @users
- else
  %h3 no match for #{params[:name]}
