- provide(:title, @title)
.row
  %aside.col-md-4
    %section.user_info
      = gravatar_for @user
      %h1= link_to @user.name, @user
      %span= "@#{current_user.nickname}"
    %section.stats
      = render 'shared/stats'
      - if @users.any?
        .user_avatars
          - @users.each do |user|
            = link_to gravatar_for(user, size: 30), user
  .col-md-8
    %h3= @title
    - if @users.any?
      %ul.users.follow
        - @users.each do |user|
          = render 'users/user', user: user
      = paginate @users
