- if @feed_items.nil?
  = form_with(url: "/users/#{@user.id}/microposts/", method: :get, skip_enforcing_utf8: true) do
    = label_tag :content, "Content"
    = text_field_tag :content, '', placeholder: "Please enter content"
    = submit_tag  'Search'
- else
  = form_with(url: "/microposts/search", method: :get, skip_enforcing_utf8: true) do
    = label_tag :content, "Content"
    = text_field_tag :content, '', placeholder: "Please enter content"
    = submit_tag  'Search'
