- @user ||= current_user
.stats
  %a{:href => "#{user_path(@user)}"}
    %strong#following.stat
      = @user.microposts.count
    posts
  %a{:href => "#{following_user_path(@user)}"}
    %strong#following.stat
      = @user.following.count
    following
  %a{:href => "#{followers_user_path(@user)}"}
    %strong#followers.stat
      = @user.followers.count
    followers
  %a{:href => "#{likes_user_path(@user)}"}
    %strong#likes.stat
      = @user.likes.count
    likes
